@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased !important;
  color: #ACACAC;
}

ul {
    list-style: none;
}

form {
  display: flex;
  flex-direction: column;
}

form * {
  margin: 5px 10px;
}

form label {
  padding: 5px 10px;
  color: #444444;
  font-weight: bold;
}

form input, textarea {
  border: 1px solid rgba(0, 178, 74, 0.5);
  border-radius: 6px;
  margin-bottom: 16px; 
  padding: 5px 15px;
}

form button {
  border: 0;
  border-radius: 6px;
  background: #00b24a;
  height: 30px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  padding: 0 20px;
}

form button:hover {
  background: #008d3b;
  transition-duration: 200ms;
}

.formOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}